#searchbox{
    margin-left: 15%;
    width: 60%;
    float: left;
}

#input-group{
    margin-top: 20px;
    width: 100%;
}
#image{
    height: 200px;
    width: 200px;
    margin-top: 30px;
}
.card block{
    display: inline;
    align-content: center;
}
#id{
    align-content: center;
}

